*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}

.logo h2{

    color: var(--Dark-01, #181818);
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.color-red{
    color: #FD6E0A;
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

nav{

    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu{
    display:flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

.menu a{
 color: #474747;
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.btn{
    width: 150px;
    height: 65px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    cursor: pointer;
}

.banner-content h2{
    color: #474747;
    font-family: "Open Sans";
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.banner-content h1{

    color: #181818;
    font-family: "Open Sans";
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-content p{

    width: 585px;
    color: #757575;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-bottom: 30px;
}

#banner{

    margin: 46px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-img img{
    width: 500px;
    height: 676px;
    vertical-align: middle;
}

#about{
    padding: 130px 230px;
}

.about-container{
    /* width: 1140px;
    height: 550px; */
    padding: 131px 156px;
    border-radius: 10px;
    background: #FFF8F3;
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}

.section-heading h2{
    align-self: stretch;
    margin-bottom: 30px;
    color: #181818;
    text-align: center;
    font-family: "Open Sans";
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
} 

.section-heading p{
    align-self: stretch;
    margin-bottom: 30px;
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.about-info{
    display: flex;
    /* fixed */
    /* gap: 50px; */
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.info-card{
    text-align: center;
    justify-content: space-around;
    align-items: center;
    
}

.info-card p{
    color: #757575;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}

.info-card h4{
    color: #474747;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}

#skills{
    padding: 130px 230px;
}

.skill-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}

.skill-box{
    display: flex;
    gap: 24px;
}

.skill-card{
    width: 267px;
    height: 377px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
    padding: 30px 33px;
}

.skill-card img{
    margin-bottom: 30px;
}

.skill-card h3{
    color: #181818;
    text-align: left;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.skill-card p{
    width: 201px;

    color: #757575;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
}