*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

.logo h2{

color: var(--Dark-01, #181818);
font-family: "Open Sans";
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.color-red{
    color: #FD6E0A;
font-family: "Open Sans";
font-size: 45px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

nav{

    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu{
    display:flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}

.menu a{
 color: #474747;
font-family: "Open Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: none;
}

.btn{
    width: 150px;
    height: 65px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: white;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}